.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}


.my-custom-node {
    height: 20px;
    width: 120px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.my-custom-node-color--2{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.my-custom-node-color--1{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.my-custom-node-color-0{
    background: rgb(254, 104, 104);
}
.my-custom-node-color-1{
    background: rgb(255, 156, 50);
}
.my-custom-node-color-2{
    background: rgb(255, 252, 50);
}
.my-custom-node-color-3{
    background: rgb(50, 255, 152);
}
.my-custom-node-color-4{
    background: rgb(71, 192, 248);
}
.my-custom-node-color-5{
    background: rgb(241, 112, 255);
}
.my-custom-node-color-6{
    background: rgb(139, 113, 241);
}